In [2]:
import numpy as np
import pandas as pd

In [4]:
odata=pd.read_csv('olympics.csv',skiprows=4)
odata

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [18]:
odata.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [7]:
#data observation
odata.describe()

            Edition
count  29216.000000
mean    1967.713171
std       32.406293
min     1896.000000
25%     1948.000000
50%     1976.000000
75%     1996.000000
max     2008.000000

In [20]:
len(odata.columns)

10

In [9]:
odata.shape

(29216, 10)

In [21]:
odata.columns

Index(['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'NOC', 'Gender',
       'Event', 'Event_gender', 'Medal'],
      dtype='object')

In [22]:
odata.index

RangeIndex(start=0, stop=29216, step=1)

In [16]:
odata[odata.Medal=='Gold'].Medal

0        Gold
3        Gold
6        Gold
9        Gold
13       Gold
         ...
29199    Gold
29203    Gold
29206    Gold
29210    Gold
29214    Gold
Name: Medal, Length: 9850, dtype: object

In [36]:
odata[odata.Medal=='Gold'].Medal.value_counts()

Gold    9850
Name: Medal, dtype: int64

In [37]:
odata[odata['Medal']=='Gold']['Medal'].count()

9850

In [30]:
#Display the male gold medal winners for the 100m Track?
#netflix[netflix["IMDB Rating"]>=10]['title']
odata[odata['Medal']=='Gold'],[['Event']=='100m']

(          City  Edition      Sport       Discipline              Athlete  NOC  \
 0       Athens     1896   Aquatics         Swimming        HAJOS, Alfred  HUN
 3       Athens     1896   Aquatics         Swimming   MALOKINIS, Ioannis  GRE
 6       Athens     1896   Aquatics         Swimming        HAJOS, Alfred  HUN
 9       Athens     1896   Aquatics         Swimming        NEUMANN, Paul  AUT
 13      Athens     1896  Athletics        Athletics        BURKE, Thomas  USA
 ...        ...      ...        ...              ...                  ...  ...
 29199  Beijing     2008  Wrestling  Wrestling Gre-R       GUENOT, Steeve  FRA
 29203  Beijing     2008  Wrestling  Wrestling Gre-R  KVIRKELIA, Manuchar  GEO
 29206  Beijing     2008  Wrestling  Wrestling Gre-R     MINGUZZI, Andrea  ITA
 29210  Beijing     2008  Wrestling  Wrestling Gre-R   KHUSHTOV, Aslanbek  RUS
 29214  Beijing     2008  Wrestling  Wrestling Gre-R        LOPEZ, Mijain  CUB

       Gender                       Event Event_gender Medal
 0        Men              100m freestyle            M  Gold
 3        Men  100m freestyle for sailors            M  Gold
 6        Men             1200m freestyle            M  Gold
 9        Men              400m freestyle            M  Gold
 13       Men                        100m            M  Gold
 ...      ...                         ...          ...   ...
 29199    Men                   60 - 66kg            M  Gold
 29203    Men                   66 - 74kg            M  Gold
 29206    Men                   74 - 84kg            M  Gold
 29210    Men                   84 - 96kg            M  Gold
 29214    Men                  96 - 120kg            M  Gold

 [9850 rows x 10 columns],
 [False])

In [64]:
odata.Discipline.unique()

array(['Swimming', 'Athletics', 'Cycling Road', 'Cycling Track',
       'Fencing', 'Artistic G.', 'Shooting', 'Tennis', 'Weightlifting',
       'Wrestling Gre-R', 'Water polo', 'Archery', 'Basque Pelota',
       'Cricket', 'Croquet', 'Jumping', 'Football', 'Golf', 'Polo',
       'Rowing', 'Rugby', 'Sailing', 'Tug of War', 'Diving', 'Boxing',
       'Lacrosse', 'Roque', 'Wrestling Free.', 'Hockey', 'Jeu de Paume',
       'Rackets', 'Figure skating', 'Water Motorspor', 'Dressage',
       'Eventing', 'Modern Pentath.', 'Vaulting', 'Ice Hockey',
       'Basketball', 'Canoe / Kayak F', 'Handball', 'Judo', 'Volleyball',
       'Canoe / Kayak S', 'Synchronized S.', 'Rhythmic G.',
       'Table Tennis', 'Badminton', 'Baseball', 'Mountain Bike',
       'Softball', 'Beach volley.', 'Trampoline', 'Taekwondo',
       'Triathlon', 'BMX'], dtype=object)

In [71]:
odata.Gender.unique()

array(['Men', 'Women'], dtype=object)

In [44]:
#Which three countries have won the most medals in recent years (from 1984 to 2008)?
 
odata[(odata.Gender=='Men')&(odata.Medal=='Gold')&(odata.Event=='100m')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
737,St Louis,1904,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
1191,London,1908,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
2022,Stockholm,1912,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
2996,Antwerp,1920,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
4236,Paris,1924,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
5095,Amsterdam,1928,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
5806,Los Angeles,1932,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
7302,London,1948,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
8121,Helsinki,1952,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
9009,Melbourne / Stockholm,1956,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
9924,Rome,1960,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
10823,Tokyo,1964,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
11865,Mexico,1968,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
12902,Munich,1972,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
14069,Montreal,1976,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
15374,Moscow,1980,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
19859,Barcelona,1992,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
21598,Atlanta,1996,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
23521,Sydney,2000,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
25539,Athens,2004,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
27552,Beijing,2008,Athletics,Athletics,"BOLT, Usain",JAM,Men,100m,M,Gold

In [61]:
odata[(odata.Edition)>=1984].City.value_counts().head(3)

Beijing    2042
Sydney     2015
Athens     1998
Name: City, dtype: int64

In [20]:
odata[odata.Edition>=1984].City.value_counts()

Beijing        2042
Sydney         2015
Athens         1998
Atlanta        1859
Barcelona      1705
Seoul          1546
Los Angeles    1459
Name: City, dtype: int64

In [58]:
odata['Edition'].max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0        1896
1        1896
2        1896
3        1896
4        1896
         ...
29211    2008
29212    2008
29213    2008
29214    2008
29215    2008
Name: Edition, Length: 29216, dtype: int64>

# Which country has won the most men's gold medals in singles badminton over the years? Sort the results alphabetically by the player's names

In [21]:

odata[(odata.Gender=='Men')&(odata.Medal=='Gold')&(odata.Sport=='Badminton')].City.value_counts().sort_values(ascending=False)

Atlanta      4
Sydney       4
Athens       4
Beijing      4
Barcelona    3
Name: City, dtype: int64

In [70]:
odata[(odata.Gender=='Men')&(odata.Medal=='Gold')&(odata.Sport=='Badminton')].NOC.value_counts().sort_values()

DEN    1
CHN    4
KOR    6
INA    8
Name: NOC, dtype: int64

# Display the women gold medal winners for the 100m Track?

In [75]:

odata[(odata.Gender=='Women')&(odata.Medal=='Gold')&(odata.Event=='100m')].Athlete

5098           ROBINSON, Elizabeth
5809       WALASIEWICZ, Stanislawa
6430       STEPHENS, Helen Herring
7305          BLANKERS-KOEN, Fanny
8124             JACKSON, Marjorie
9012               CUTHBERT, Betty
9927                RUDOLPH, Wilma
10826                 TYUS, Wyomia
11868                 TYUS, Wyomia
12905              STECHER, Renate
14072    RICHTER-IRRGANG, Annegret
15377        KONDRATIEVA, Liudmila
16797              ASHFORD, Evelyn
18287    GRIFFITH-JOYNER, Florence
19862                 DEVERS, Gail
21601                 DEVERS, Gail
25542           NESTERENKO, Yuliya
27554           FRASER, Shelly-ann
Name: Athlete, dtype: object

# list out the Sliver medal winner @ year 2008?

In [79]:
odata[(odata.Edition==2008) & (odata.Medal=='Silver')].Athlete

27176            ZHOU, Luxin
27179        HEYMANS, Emilie
27182    DESPATIE, Alexandre
27185       PAKHALINA, Julia
27190      HAUSDING, Patrick
                ...
29200     BEGALIEV, Kanatbek
29204       CHANG, Yongxiang
29207          FODOR, Zoltan
29211         ENGLICH, Mirko
29215         BAROEV, Khasan
Name: Athlete, Length: 663, dtype: object

# Group by Countries and apply aggregate function min,max,count on over the year

In [99]:
odata.groupby("NOC")['Edition'].agg(['min','max','count'])

      min   max  count
NOC
AFG  2008  2008      1
AHO  1988  1988      1
ALG  1984  2008     14
ANZ  1908  1912     29
ARG  1924  2008    239
..    ...   ...    ...
VIE  2000  2008      2
YUG  1924  2000    435
ZAM  1984  1996      2
ZIM  1980  2008     23
ZZX  1896  1904     48

[138 rows x 3 columns]